body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  #placesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
  }
  
  .placeCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .placeCard:hover {
    transform: translateY(-5px);
  }
  
  .placeCard h2 {
    margin-top: 0;
  }
  
  .placeCard img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  #searchInput {
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    display: block;
  }
  